/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #D0BFFF;;
    background-alt: #BEADFA;
    foreground:     #BEADFA;
    selected:       #FFFFFF;
    active:         #FF0000;
    urgent:         #E06C75;
}
